rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function requesterRole() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }

    function isAdmin() {
      return signedIn() && requesterRole() == "admin";
    }

    match /users/{userId} {
      allow read: if signedIn();
      allow write: if isAdmin();
    }

    match /idCards/{id} {
      allow read: if signedIn();
      allow create: if signedIn();
      allow update, delete: if isAdmin();
    }
  }
}
